<!DOCTYPE html>
{% extends 'index.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}

    <div class="page-section" id="loading" style="z-index: 1000;background-image:url('/static/loadingimage.gif');display: none;
    background-repeat: no-repeat; height: 200px;;width: 200px;background-size: cover;position: absolute;top: 50%;left: 50%;"></div>
    <div class="page-section" id="ImageProcessing">
    <div class="row">
        {% if post %}
            <div class="col-md-s12">
                <h4 class="widget-title">{{ post.title | safe }} </h4>
                <p class="widget-title">Updated at : {{ post.lastUpdate }}</p>
                <p> {{ post.content | safe }} </p>
            </div>
        {% endif %}
    </div>

{% endblock %}
</div>
</body>
</html>