<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <!-- CONTACT -->

    <div class="page-section" id="contact">

        <div class="row">
            <div class="col-md-12">
                <h4 class="widget-title">Get in Touch</h4>
                <p>I'm happy to answer any questions you have. Just send me a note about that .. :) </p>
            </div>
        </div>
        <div class="row">
            <form action="/Contact" method="post" class="contact-form">
                {% csrf_token %}
                <fieldset class="col-md-12 col-sm-12">
                    {% if message %}
                        <input type="text" class="btn btn-danger" value="{{ message }}">
                    {% endif %}
                </fieldset>
                <fieldset class="col-md-4 col-sm-6">
                    <input type="text" name="your-name" id="your-name" placeholder="Your Name...">
                </fieldset>
                <fieldset class="col-md-4 col-sm-6">
                    <input type="email" name="email" id="email" placeholder="Your Email...">
                </fieldset>
                <fieldset class="col-md-4 col-sm-12">
                    <input type="text" name="your-subject" id="your-subject" placeholder="Subject...">
                </fieldset>
                <fieldset class="col-md-12 col-sm-12">
                    <textarea name="message" id="message" cols="30" rows="6" placeholder="Leave your message..."></textarea>
                </fieldset>

                <fieldset class="col-md-12 col-sm-12">

                    <input type="submit" class="button big default" width="250px" value="Send Message">

                </fieldset>
            </form>
        </div> <!-- .contact-form -->
    </div>

{% endblock %}
</body>
</html>