<!DOCTYPE html>
{% extends 'index.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}

    <script type="text/javascript">// <![CDATA[
    function preloader() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("ImageProcessing").style.display = "none";

    }//preloader

    // ]]></script>

    <script src="/static/js/djp.js"></script>

    <div class="page-section" id="loading" style="z-index: 1000;background-image:url('/static/loadingimage.gif');display: none;
    background-repeat: no-repeat; height: 200px;;width: 200px;background-size: cover;position: absolute;top: 50%;left: 50%;"></div>
    <div class="page-section" id="ImageProcessing">
    <div class="row">
        {% if post %}
            <div class="col-md-12">
                <h4 class="widget-title">{{ post.title }} </h4>
                <p class="widget-title">Updated at : {{ post.lastUpdate }}</p>
                <p> {{ post.content | safe }} </p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div>
            <form action="/DiabeticRetinopathy" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-inverse" style="width: 500px;">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <label for="input-b1">Select File</label>
                            <input id="input-b1" name="input-b1" type="file" class="file" onchange="inputKontrol()">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if uploaded_file_url %}
                                <input id="your_name" type="text" class="btn btn-primary" name="myfile" value="File Uploaded">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control" id="thresholdValue" name="thresholdValue" placeholder="Enter Threshold Value">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if edited_file_url %}
                                <img src="../{{ edited_file_url }}" class="img-rounded">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>

                        <td colspan="2" style=" align-self: center">
                            <br/>
                            <fieldset class="col-md-12 col-sm-12">
                                <input type="submit" class="btn btn-primary" value="Process" onclick="preloader()">
                            </fieldset>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>




{% endblock %}
</div>
</body>
</html>