<!DOCTYPE html>
{% extends 'index.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
     <script type="text/javascript">// <![CDATA[
        function loader(){
              document.getElementById("loading").style.display = "block";
              document.getElementById("ImageProcessing").style.display = "none";

        }//preloader

// ]]></script>

    <div class="page-section" id="loading" style="z-index: 1000;display: none;
    background-repeat: no-repeat; height: 200px;;width: 200px;background-size: cover;position: absolute;top: 50%;left: 50%;" >
     <table>
         <tr>
             <td align="center" style="background-color: black">
              <label for="usr" style="text-align: center;width:200px;color: white"  >Processing...</label>
             </td>
         </tr>
        <tr>
            <td>
               <div class="page-section" style="z-index: 1000;background-image:url('/static/loadingimage.gif');
              background-repeat: no-repeat; height: 100%;;width: 100%;background-size: cover;position: absolute">
                   </div>
            </td>
        </tr>
     </table>

     </div>
    <div class="page-section" id="ImageProcessing">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Image Retrieval</h4>
            <p> Image Retrieval </p>
        </div>
    </div>
    <div class="row">
        <div>
            <form method="post" action="/simple_upload" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit" class="btn btn-primary">Upload</button>
                <input type="hidden" name="redirect" value="ImageRetrieval">
            </form>
            <form action="/ImageRetrieval" method="post">
                {% csrf_token %}
                <table class="table table-inverse" style="width: 500px;">
                    <tbody>
                    <tr>
                        <td>
                            <table>

                                <tr>
                        <td colspan="2">
                            {% if uploaded_file_url %}
                                <input id="your_name" type="text" class="btn btn-primary" name="myfile" value="{{ uploaded_file_url }}">
                            {% endif %}
                        </td>
                    </tr>
                                <tr>
                                    <!--<td class="col-md-4 col-sm-1">
                                        Extension :
                                    </td>
                                    <td>
                                        <fieldset class="col-md-4 col-sm-3">
                                            <select class="form-control" id="extension" name="extension">
                                                <option>.pdf</option>
                                                <option>.txt</option>
                                            </select>
                                        </fieldset>
                                    </td>-->
                                </tr>


                                <tr>
                                    <td>
                                        <label for="usr">Keyword :</label>
                                    </td>
                                    <td>
                                        <input type="text" name="keyword" class="form-control" >
                                    </td>

                                </tr>

                                <tr>

                                    <td colspan="2" style="align-self: center">
                                        <br/>
                                        <fieldset class="col-md-12 col-sm-12">
                                            <input type="submit" class="btn btn-primary" value="Process" onclick="loader()">
                                        </fieldset>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    <td>
                        <table>
                            <tr>
                               <td rowspan="5">
                                {% if retrievalImages %}
                                   {% for retrievalImage in retrievalImages %}
                                       <img src="{{ retrievalImage }}" alt="nabers"/>
                                       <br/>
                                       <br/>

                                    {% endfor %}
                                {% endif %}

                               </td>

                            </tr>

                        </table>

                    </td>

                    </tr>


                    </tbody>
                </table>
            </form>
        </div>
    </div>




{% endblock %}
   </div>
</body>
</html>