<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dagdeviren's Image Processing Blog</title>
    <meta name="description" content="">
    <!--
    Volton Template
    http://www.templatemo.com/tm-441-volton
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
    <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="responsive-header visible-xs visible-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-section">
                    <div class="profile-image">
                        <img src="../static/img/profile.jpg" alt="Volton">
                    </div>
                    <div class="profile-content">
                        <h3 class="profile-title">F.D</h3>
                        <p class="profile-description">Image Processing Blog</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
        <div class="main-navigation responsive-menu">
            <ul class="navigation">
                <li><a href="#top"><i class="fa fa-globe"></i>Welcome</a></li>
                <li><a href="/"><i class="fa fa-pencil"></i>About Me</a></li>
                <li><a href="/ImageProcessing"><i class="fa fa-camera-retro"></i>Image Processing</a></li>
                <li><a href="/Contact"><i class="fa fa-paperclip"></i>Contact</a></li>
                {% if user.id is not None %}
                    <li><a href="/logout"><i class="fa fa-paperclip"></i>Logout</a></li>
                {% else %}
                    <li><a href="/login"><i class="fa fa-paperclip"></i>Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<!-- SIDEBAR -->
<div class="sidebar-menu hidden-xs hidden-sm">
    {% block sidebar %}
        <div class="top-section">
            <div class="profile-image">
                <img src="../static/img/profile.jpg" alt="Volton">
            </div>
            <h3 class="profile-title">F.D</h3>
            <p class="profile-description">Image Processing Blog</p>
        </div> <!-- top-section -->
        <div class="main-navigation">
            <li><a href="#top"><i class="fa fa-globe"></i>Welcome</a></li>
            <li><a href="/"><i class="fa fa-pencil"></i>About Me</a></li>
            <li><a href="/ImageProcessing"><i class="fa fa-camera-retro"></i>Image Processing</a></li>
            <li><a href="/Contact"><i class="fa fa-paperclip"></i>Contact</a></li>
            {% if user.id is not None %}
                <li><a href="/logout"><i class="fa fa-paperclip"></i>Logout</a></li>
            {% else %}
                <li><a href="/login"><i class="fa fa-paperclip"></i>Login</a></li>
            {% endif %}
        </div> <!-- .main-navigation -->
        <div class="social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div> <!-- .social-icons -->
    {% endblock %}
</div> <!-- .sidebar-menu -->


<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper">
            {% block content %}
                ddd
                {% if post %}

                    <div class="page-section" id="ImageProcessing">
                        <div class="row">
                            <div class="col-md-12">
                                <p> {{ post.title }} ( last updated : {{ post.last_update }} ) </p>

                            </div>
                        </div>
                        <div class="row">
                            <div>
                                {{ post.content }}
                            </div>
                        </div> <!-- .contact-form -->


                    </div>
                {% endif %}




                </div>


            {% endblock %}
    </div>
</div>
</div>

<script src="../static/js/vendor/jquery-1.10.2.min.js"></script>
<script src="../static/js/min/plugins.min.js"></script>
<script src="../static/js/min/main.min.js"></script>

</body>
</html>