<!DOCTYPE html> {% extends 'index.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
{% block content %}

    <script type="text/javascript">
        // <![CDATA[
        function loader() {
            document.getElementById("loading").style.display = "block";
            document.getElementById("ImageProcessing").style.display = "none";

        }//preloader
        function inputKontrol() {
            var file = document.getElementById('input-b1');
            var files;
            if (file.files.length > 2) {
                alert("Only 2 image is allowed for stitching");
                return;
            }
            for (var i = 0; i < file.files.length; i++) {
                var file = file.files[i];
                var ext = file.name.match(/\.([^\.]+)$/)[1];
                switch (ext) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        break;
                    default:
                        alert('This extension is not allowed (Only .jpg,.jpeg and .png files are allowed)');
                        file.value = "";
                        this.value = '';
                }
            }

        }

        // ]]>
    </script>
    <div class="page-section" id="loading" style="z-index: 1000;display: none;
    background-repeat: no-repeat; height: 200px;;width: 200px;background-size: cover;position: absolute;top: 50%;left: 50%;">
        <table>
            <tr>
                <td align="center" style="background-color: black">
                    <label for="usr" style="text-align: center;width:200px;color: white">Processing...</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="page-section" style="z-index: 1000;background-image:url('/static/loadingimage.gif');
              background-repeat: no-repeat; height: 100%;;width: 100%;background-size: cover;position: absolute">
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <div class="page-section" id="PanoramaCreator">

        <div class="row">
            <div class="col-md-12">
                {% if Post %}
                    <h4 class="widget-title">{{ Post.title }}</h4>
                    <p>{{ Post.content | safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div>
                <form action="/PanoramaCreator" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="input-b1">Select File</label>
                    <input id="input-b1" multiple="multiple" name="input-b1" type="file" class="file" onchange="inputKontrol()">
                    <table class="table table-inverse" style="width: 500px;">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                {% if edited_file_url %}
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="../{{ edited_file_url }}" class="img-rounded">
                                            </td>

                                        </tr>
                                    </table>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="align-self: center">
                                <br/>
                                <fieldset class="col-md-12 col-sm-12">
                                    <input type="submit" class="btn btn-primary" value="Process" onclick="loader()">
                                </fieldset>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>


{% endblock %}
</body>

</html>